/* Editor content width. */
html .mceContentBody {
    max-width: 780px;
    padding: 1rem 1.5rem !important;
}

/* Images styling. */
html .mceContentBody img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
